.side_bar
  .side_bar__user-name
    .top_items
      .top_items__name
        = current_user.name
      .top_item
        = link_to new_group_path, class: "top_item__btn" do
          = icon('fas', 'edit',  class: "top_item--icon")
        = link_to edit_user_path(current_user), class: "top_item__btn" do
          = icon('fas', 'cog',  class: "top_item--icon")
  .side_bar__group-list
    - current_user.groups.each do |group|
      =link_to "#", class: "group__btn" do
        .group_title
          =group.name
        .latest_message
          まだメッセージはありません